body{
  background: #E6E6FA;

}

#contenedor{
  background: #669999;
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
  height: 35%;
  padding: 10px 0px 0px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

#cabecera{
  background: #95A5A6;
  padding: 20px 10px 10px 10px;
  position: absolute;
  top: 8%;
  left: 35%;
  height: 8%;
  width: 30%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}

#numero1, #resultado{
  border-radius: 5px;
  width: 50%;
  height: 25px;
  font-size: 15px;
}

select{
  background: #FFFFFF;
  background-position: 280px center;
  background-repeat: no-repeat;
  padding: 10px;
  font-size: 15px;
  border: 0px;
  border-radius: 3px;
  width: 50%;
  height: 40px;
}
select:hover{
  background-color: #DDDDDD;
}
b{
  font-family: Arial;
}

#convertir{
  border-radius: 5px;
  width: 80px;
  border: 1px;
  font-family: Arial;
  font-size: 15px;
}
